<footer>
    <div class="foot-top">
        <div class="box">
            <p class="tit">공지사항</p>
            <ul class="notice-lists">
                <li>
                    <a href="">변호사 업무공유 플랫폼에 오신걸 환영합니다.</a>
                    <p class="date"><span class="blind">등록일</span>2021-07-13</p>
                </li>
                <li>
                    <a href="">변호사 업무공유 플랫폼에 오신걸 환영합니다.</a>
                    <p class="date"><span class="blind">등록일</span>2021-07-13</p>
                </li>
                <li>
                    <a href="">변호사 업무공유 플랫폼에 오신걸 환영합니다.</a>
                    <p class="date"><span class="blind">등록일</span>2021-07-13</p>
                </li>
                <li>
                    <a href="">변호사 업무공유 플랫폼에 오신걸 환영합니다.</a>
                    <p class="date"><span class="blind">등록일</span>2021-07-13</p>
                </li>
                <li>
                    <a href="">변호사 업무공유 플랫폼에 오신걸 환영합니다.</a>
                    <p class="date"><span class="blind">등록일</span>2021-07-13</p>
                </li>
            </ul>
        </div>
        <div class="box flex-col-wrap">
            <div class="flex-col">
                <p class="tit">나의 업무</p>
                <ul class="links">
                    <li><a href="">공유한 공유업무</a></li>
                    <li><a href="">공유 받은 공유업무</a></li>
                    <li><a href="">찜한 공유업무</a></li>
                    <li><a href="">공유업무 정산</a></li>
                </ul>
            </div>
            <div class="flex-col">
                <p class="tit">지원센터</p>
                <ul class="links">
                    <li><a href="/page/sub_05_01.html">공지사항</a></li>
                    <li><a href="/page/sub_05_02.html">뉴스/언론</a></li>
                    <li><a href="/page/sub_05_03.html">이벤트</a></li>
                    <li><a href="/page/sub_05_04.html">자주찾는질문</a></li>
                </ul>
            </div>
            <div class="flex-col">
                <p class="tit">커뮤니티</p>
                <ul class="links">
                    <li><a href="/page/sub_06_01.html">지식&middot;정보 공유</a></li>
                    <li><a href="/page/sub_06_02.html">서식&middot;양식 공유</a></li>
                    <li><a href="/page/sub_06_03.html">변호사 업무상담</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="foot-bottom">
        <p class="foot-txt">로투미는 변호사업무공유을 위한 서비스 플랫폼을 운영합니다. 로투미는 통신판매중개자이며, 통신판매의 당사자가 아닙니다. 플랫폼 내 서비스 거래에 관한 의무와 책임은 공유 회원에게 있습니다.</p>
        <ul class="foot-links">
            <li><a href="">회사소개</a></li>
            <li><a href="">이용약관</a></li>
            <li><a href="">개인정보처리방침</a></li>
            <li><a href="">법적책임</a></li>
            <li><a href="">운영정책</a></li>
        </ul>
        <p class="foot-info">
            <span>㈜메타로플랫폼</span>
            <span>대표이사 : 이경환</span>
            <span>서울특별시 종로구 인사동5길 42 종로빌딩 12층</span>
            <span>사업자등록번호 : 000-00-00000</span>
            <span>통신판매업신고 : 제2021-서울종로-10001호</span>
        </p>
    </div>
    <div class="foot-end">
        <div class="logo"><img src="/images/logo-foot.png" alt="LawToMe"></div>
        <p class="copy">Copyright © 2021 LAWTOME INC. All rights Reserved.</p>
        <ul class="sns-lists">
            <li><a href="" class="sns01" target="_blank"><span class="blind">로투미 유튜브</span></a></li>
            <li><a href="" class="sns02" target="_blank"><span class="blind">로투미 네이버 블로그</span></a></li>
        </ul>
    </div>
</footer>
<!-- login Modal -->
@@include('./modules/modal.html', {
    id : 'modal-login'
})
<!-- // login Modal -->