<header@@if(context.main){ class="main"}>
    <div class="head-top">
        <ul class="link">
            <li><a href="/">HOME</a></li>
            <li><button type="button" data-toggle="modal" data-target="#sitemap"><span>사이트맵</span></button></li>
        </ul>
    </div>
    <div class="head-cont">
        <h1><a href="/"><img src="/images/logo.png" alt="LawToMe"></a></h1>
        <!-- gnb -->
        @@include('./layout/gnb.html', {
            id : 'gnb'
        })
        <!-- // gnb -->
        @@if(context.main){
        <!-- 로그인 전 -->
        <button type="button" class="btn btn-point login" data-toggle="modal" data-target="#modal-login"><span>로그인</span></button>
        <!-- // 로그인 전 -->
        }
        @@if(!context.main){
        <!-- 로그인 전 -->
        <!-- <a href="/page/login.html" class="btn btn-point login"><span>로그인</span></a> -->
        <!-- // 로그인 전 -->
        <!-- 로그인 후 -->
        <div class="my-menu">
            <button type="button" class="btn-toggle" aria-label="마이메뉴 보기"><span class="thumb" style="background-image:url('/images/@noimg.gif')"></span></button>
            <ul class="lists">
                <li><a href="/page/mypage_01.html" class="link-basic">마이페이지</a></li>
                <li><a href="/page/mywork_01.html" class="link-basic">나의 업무</a></li>
                <li><a href="/page/logout.html" class="link-basic">로그아웃</a></li>
            </ul>
        </div>
        <!-- // 로그인 후 -->
        }
    </div>
    <!-- sitemap modal -->
    @@include('./modules/modal.html', {
        id : 'sitemap'
    })
    <!-- // sitemap modal -->
</header>