.work-info-wrap {
    display:flex;
    padding:0 40px;
    text-align:left;
    .infos {
        max-width:840px;
        .top {
            display:flex;
            align-items:center;
            margin-bottom:20px;
            p {
                font-size:18px;
                font-weight:500;
                .count {
                    margin-left:20px;
                    color:$cont;
                    font-weight:400;
                    em {
                        margin-right:10px;
                        color:$basic;
                        font-weight:500;
                    }
                }
            }
            .flag-wrap {
                margin-left:20px;
                font-size:0;
                .flag {
                    margin-right:7px;
                }
            }
        }
        .title {
            a {
                display:inline-block;
                vertical-align:top;
                font-size:22px;
                line-height:30px;
                font-weight:500;
                word-break:keep-all;
                span {
                    margin-right:5px;
                    color:$point;
                }
            }
            p {
                font-size:22px;
                line-height:30px;
                font-weight:500;
                word-break:keep-all;
                span {
                    margin-right:5px;
                    color:$point;
                }
            }
        }
        .condition-list {
            margin-top:30px;
            font-size:0;
            white-space:nowrap;
            li {
                display:inline-block;
                vertical-align:top;
                font-size:18px;
                line-height:20px;
                &::before {
                    content:' ';
                    display:inline-block;
                    vertical-align:top;
                    width:20px;
                    height:20px;
                    margin-right:10px;
                }
                &.type1 {
                    &::before {
                        background:url('/images/icon/icon-won.png') center no-repeat;
                    }
                }
                &.type2 {
                    &::before {
                        background:url('/images/icon/icon-time.png') center no-repeat;
                    }
                }
                em {
                    font-weight:500;
                }
                &::after {
                    content:' ';
                    display:inline-block;
                    vertical-align:top;
                    width:1px;
                    height:20px;
                    margin:0 30px;
                    background:$border;
                }
                &:last-child::after {
                    display:none;
                }
            }
        }
        .cont {
            margin-top:10px;
            color:$cont;
            @include font;
            &.type2 {
                @include textEllipsis;
            }
            span {
                &::after {
                    content:':';
                    margin:0 4px;
                }
            }
        }
    }
    .controls {
        display:flex;
        flex-direction:column;
        margin-left:auto;
        text-align:right;
        .vol-count {
            display:block;
            font-size:18px;
            line-height:22px;
            em {
                margin-right:4px;
                color:$point;
                font-weight:500;
            }
            a {
                display:inline-block;
                vertical-align:top;
                margin-right:4px;
                color:$point;
                font-weight:500;
                &:hover {
                    text-decoration:underline;
                }
            }
            &::before {
                content:' ';
                display:inline-block;
                vertical-align:top;
                width:22px;
                height:22px;
                margin-right:6px;
                background:url('/images/icon/icon-vol.png') center no-repeat;
            }
        }
        .btns {
            display:flex;
            align-items:center;
            margin-top:30px;
            > * {
                margin-left:10px;
            }
            .btn {
                width:84px;
                margin-top:3px;
            }
        }
        .btn.btn-md {
            width:200px;
            margin-top:auto;
            margin-left:auto;
        }
    }
    &.card-type {
        display:block;
        width:610px;
        margin:0 auto 40px;
        padding:40px 50px;
        border:1px solid $border;
        &:last-child {
            margin-bottom:0;
        }
        .infos {
            max-width:none;
            .title {
                p span {
                    display:block;
                    margin-bottom:4px;
                }
            }
            .cont {
                margin-top:15px;
                padding:20px;
                background:$disabled;
                span {
                    display:block;
                    font-weight:500;
                    &::after {
                        display:none;
                    }
                }
            }
        }
    }
}

.order-page-wrap {
    display:flex;
    .work-info-wrap.card-type {
        margin:0;
    }
    .pay-info {
        width:570px;
        margin-left:auto;
        .total {
            padding:20px 30px;
            background:$disabled;
            .form-control {
                width:270px;
            }
            .ment {
                margin-top:15px;
                color:#666;
                font-size:16px;
            }
        }
        .by-my {
            margin-top:15px;
            .title {
                margin-bottom:10px;
                color:$point;
                font-size:18px;
                font-weight:500;
            }
            li {
                margin-top:20px;
                &:first-child {
                    margin-top:0;
                }
                .txt {
                    width:auto;
                    min-width:15px;
                    margin-right:20px;
                }
                .form-control {
                    width:200px;
                    height:40px;
                    min-height:40px;
                    padding:0 24px;
                }
                .btn.btn-border-border {
                    margin-left:auto;
                    color:#333;
                }
            }
        }
        .price {
            display:flex;
            align-items:center;
            p {
                white-space:nowrap;
            }
            .txt {
                font-size:18px;
            }
            .tit {
                margin-right:20px;
                font-size:22px;
                font-weight:500;
            }
            .form-control {
                height:50px;
                min-height:50px;
                margin-right:10px;
                padding:13px 24px;
            }
        }
    }
}

.total-pay-info {
    display:flex;
    margin-top:60px;
    margin-bottom:40px;
    padding:16px 0;
    border:1px solid $border;
    .box {
        position:relative;
        flex:1;
        padding:30px 60px;
        border-left:1px solid $border;
        text-align:right;
        &::before {
            content:' ';
            position:absolute;
            top:50%;
            right:0;
            width:32px;
            height:32px;
            margin-top:-16px;
            margin-right:-16px;
            border:1px solid $border;
            border-radius:50%;
            background:#fff;
            z-index:10;
        }
        &::after {
            content:' ';
            position:absolute;
            top:50%;
            right:0;
            margin-right:-7px;
            width:14px;
            z-index:15;
        }
        &:first-child {
            border-left:none;
            &::after {
                height:2px;
                margin-top:-1px;
                background:#333;
            }
        }
        &:nth-child(2) {
            &::after {
                height:8px;
                margin-top:-4px;
                border:2px solid #333;
                border-left:none;
                border-right:none;
            }
        }
        &:last-child {
            flex:unset;
            width:470px;
            min-width:470px;
            &::before,
            &::after {
                display:none;
            }
        }
        .tit {
            margin-bottom:10px;
            font-size:16px;
        }
        .price {
            font-size:18px;
            font-weight:500;
            em {
                margin-right:4px;
                font-size:36px;
                font-weight:700;
            }
            &.total em {
                color:$point;
            }
        }
    }
}